/* Reset básico para garantir que todos os navegadores tenham uma aparência consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #007bff;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    margin: 1.5rem 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5
}

.logo {
    display: block;
    margin:  auto;
    padding: 25px;
    max-width: 300px; /* Define a largura máxima da imagem */
}